<div class="background-master">
    <div class="div-logo">
        <img class="img-center" src="assets/img/logo.png">
    </div>
    <br/>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div id="#myCarousel" class="div-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item" *ngFor="let product of producties; index as i; first as isFirst" [ngClass]="{active: isActive(product)}">
                <img class="img-carousel" src={{product.img}} alt="">
                <div style="text-align: center;">
                    <h4 class="text-name">{{product.name}}</h4>
                    <p class="text-name">R$ {{product.price}}</p>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>